In [ ]:
print("Hola mundo")

Hola mundo

#Descripcion



*   @Author: Juan David Duarte Hernandez
*   @Data:12/02/22

#Ejercicios Basicos

#Ejercicio 1: productos+iva

In [ ]:
product1= int (input("Enter 1 value"))
product2= int (input("Enter 2 value"))
product3= int (input("Enter 3 value"))
product4= int (input("Enter 4 value"))
product5= int (input("Enter 5 value"))
suma = (product5+product4+product3+product2+product1)
iva =suma*0.19
total=suma +iva
print("valor bruto",suma,"\nIVA",iva,"\nTOTAL",total)

Enter 1 value1
Enter 2 value2
Enter 3 value3
Enter 4 value4
Enter 5 value5
valor bruto 15 /nIVA 2.85 /nTOTAL 17.85

##version python

In [ ]:
pro1,pro2,pro3,pro4,pro5=input ("input 1°,2°,3°,4° and 5° product with , separate").split(",")
suma=(pro5+pro4+pro3+pro2+pro1)
print("valor bruto",suma,"\nIVA",(suma*0,19),"\nTOTAL",(suma+(suma*0,19)))

#Exercise Major, Minor, Average, Array lenght

In [ ]:
#average
num1 = int(input("Enter the Number 1: ")) 
num2 = int(input("Enter the Number 2: ")) 
num3 = int(input("Enter the Number 3: ")) 
average = (sum([num1, num2, num3])) / 3 
print ("the average number is", average)

Enter the Number 1: 19
Enter the Number 2: 22
Enter the Number 3: 48
the average number is 29.666666666666668

In [ ]:
#Major
a = [345,231,144]
max_num = 0
for i in a:
    if i > max_num:
        max_num = i
print(max_num)

345

In [ ]:
#Minor
a = [412,6,8]
min_num = 412
for i in a:
    if i < min_num:
        min_num = i
print(min_num)

6

In [ ]:
#Times that appear a number within a list
numbers= [25,26,27,28,28,28,29,30]
numbers.append

[[2.]
 [3.]]